h2 {
  @apply text-white text-5xl text-center leading-tight font-bold;
  font-size: 2.5rem;
}
section {
  @apply mt-20;

  max-width: 1400px;
  margin: 0 auto;

  @media (min-width: 1400px) {
    margin-top: 10rem;
  }
}

.main {
  @apply w-full;

  &__container {
    @apply flex flex-wrap justify-center xl:justify-between max-w-7xl bg-white rounded-3xl;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 70px;
    &_left {
      @apply flex flex-col items-center justify-center text-center xl:text-start xl:items-start p-24;
      max-width: 600px;

      h1 {
        @apply text-black leading-none font-bold;
        font-size: 3.5rem;
        @media (max-width: 500px) {
          font-size: 2rem;
        }
      }
      p {
        @apply text-black opacity-60 py-14 text-lg;
      }
    }
    &_right {
      @apply flex flex-col items-center text-center bg-black;
      max-width: 600px;
    }
  }
}

.advantages {
  @apply mt-24;
  h2 {
    @apply text-center text-white text-5xl;
  }
  &_block {
    margin-top: 3.5rem;
    @apply flex flex-wrap justify-center w-full text-black text-center rounded-3xl py-10 px-24;
    & > div {
      @apply shadow-md rounded-xl bg-white border-lightgray border p-16 mx-4;
      width: 307px;
      & > h3 {
        @apply text-3xl font-bold;
      }
      & > p {
        @apply text-sm opacity-80 mt-6;
      }
    }
  }
}

.region {
  @apply flex flex-wrap justify-center items-center;
  &_map {
    max-width: 940px;
    margin-top: 100px;
    img {
      @apply w-full;
    }
  }
}

.delivery {
  @apply flex flex-col items-center;
  &_container {
    @apply flex flex-wrap justify-center mt-14 max-w-7xl;
    & > div {
      @apply m-5 py-14 px-8 rounded-xl bg-gray flex flex-col items-center justify-end;
      height: 328px;
      width: 330px;
      p {
        @apply text-3xl text-white;
      }
    }
  }
  &_clothes {
    background-image: url("../../img/delivery/clothes.png");
    background-size: cover;
  }
  &_docs {
    background-image: url("../../img/delivery/docs.png");
    background-size: cover;
  }
  &_products {
    background-image: url("../../img/delivery/products.png");
    background-size: cover;
  }
  &_gifts {
    background-image: url("../../img/delivery/gifts.png");
    background-size: cover;
  }
  &_medical {
    background-image: url("../../img/delivery/medical.png");
    background-size: cover;
  }
  &_internet {
    background-image: url("../../img/delivery/internet.png");
    background-size: cover;
  }
}

.how {
  &_container {
    @apply flex flex-wrap justify-center py-20;

    &_item {
      @apply relative bg-black p-8 rounded-xl m-1;
      max-width: 270px;
      h3 {
        @apply text-white font-bold text-2xl;
      }
      p {
        @apply opacity-60 mt-6 text-white;
      }
      &::after {
        position: absolute;
        content: url("../../img/arrow.svg");
        right: -28px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 48px;
        height: 48px;
        background: #ffd057;
        border: 3px solid #fff;
        border-radius: 100%;
        padding: 10px;

        @media (max-width: 600px) {
          position: absolute;
          content: url("../../img/arrow.svg");
          right: 40%;
          top: 90%;
          transform: translateX(50%);
          transform: rotate(90deg);
          z-index: 1;
          width: 48px;
          height: 48px;
          background: #ffd057;
          border: 3px solid #fff;
          border-radius: 100%;
          padding: 10px;
        }
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}

.tarifs {
  &_container {
    @apply flex flex-wrap justify-center mt-20;
    &_item {
      @apply rounded-xl overflow-hidden shadow-md m-5;
      width: 387px;
      &_header {
        @apply bg-yellow p-10;

        h3 {
          @apply text-3xl font-medium text-center;
        }
      }
      &_body {
        @apply p-10 bg-white h-full;
        ul {
          li {
            @apply relative left-10 text-black text-base text-opacity-80 before:content-[''] before:absolute before:w-1 before:h-1 before:bg-black before:rounded-full before:-left-10 before:top-4;
            line-height: 3rem;
          }
        }

        h3 {
          @apply text-3xl font-medium text-center mt-20;
        }
      }
    }
  }
}

.payments {
  &_container {
    @apply flex flex-wrap justify-between items-center bg-white rounded-3xl overflow-hidden;

    &_block {
      margin: 0 auto;
      max-width: 600px;
      h2 {
        @apply text-black;
      }
      p {
        @apply text-black text-base mt-14 leading-8 opacity-80;
      }

      &_pay {
        @apply flex flex-wrap justify-around mt-10;

        div {
          @apply flex flex-col items-center;

          img {
            width: 160px;
          }

          span {
            @apply text-2xl font-medium mt-8;
          }
        }
      }
    }
  }
}
